.intro{

    position:relative;

    min-height:100vh;

    background:
        linear-gradient(
            rgba(5,10,25,.75),
            rgba(5,10,25,.9)
        ),
        url("../assets/images/emergency-room.jpg");

    background-size:cover;

    background-position:center;

}



.alert-box{

    width:min(90%,600px);

    background:
    rgba(15,23,42,.95);

    padding:45px;

    border-radius:25px;

    text-align:center;

    border:
    2px solid #ef4444;

    box-shadow:
    0 0 50px rgba(239,68,68,.5);

    animation:
    alertPulse 2s infinite;

}



.alert-icon{

    font-size:60px;

}



.alert-box h1{

    font-size:55px;

    color:#ef4444;

    letter-spacing:5px;

    margin:15px 0;

}



.alert-box h3{

    color:#fca5a5;

    margin-bottom:30px;

}



.mission-info{

    text-align:left;

    background:#020617;

    padding:20px;

    border-radius:15px;

    margin:25px 0;

}



.mission-info p{

    margin:12px 0;

}



.critical{

    color:#ef4444;

}



.role{

    color:#38bdf8;

    margin:15px 0;

}



.message{

    margin:25px 0;

    color:#cbd5e1;

}



#start-btn{

    background:#dc2626;

    color:white;

}


#start-btn:hover{

    background:#ef4444;

}



@keyframes alertPulse{

    50%{

        box-shadow:
        0 0 80px rgba(239,68,68,.8);

    }

}

@media (max-width:600px){

    .intro{

        padding:20px 10px;

    }


    .alert-box{

        width:100%;

        max-width:420px;

        padding:25px 18px;

    }



    .alert-icon{

        font-size:40px;

    }



    .alert-box h1{

        font-size:34px;

        margin:10px 0;

    }



    .alert-box h3{

        font-size:16px;

        margin-bottom:15px;

    }



    .mission-info{

        padding:15px;

        margin:15px 0;

    }



    .mission-info p{

        font-size:14px;

        margin:8px 0;

    }



    .message{

        margin:15px 0;

        font-size:14px;

    }



    #start-btn{

        width:100%;

        padding:14px;

    }

}