.resuscitation-card{

    text-align:center;

}



.heart-monitor{

    background:#020617;

    border:
    2px solid #ef4444;

    padding:30px;

    border-radius:15px;

    font-size:60px;

    margin:25px auto;

    transition:.3s;

}



#pulse-status{

    font-size:20px;

    color:#ef4444;

    margin-top:15px;

}



#compression-count{

    font-size:22px;

    margin:20px;

}



#compression-btn{

    background:#dc2626;

    color:white;

}



#charge-btn{

    background:#f59e0b;

    color:white;

}



#shock-btn{

    background:#2563eb;

    color:white;

}





.hidden{

    display:none;

}





/* =====================
   Rhythm Analysis
===================== */



#rhythm-analysis{

    background:#111827;

    border:

    1px solid #475569;

    border-radius:15px;

    padding:20px;

    margin:25px 0;

}



#rhythm-analysis h2{

    color:#facc15;

}



#rhythm-analysis p{

    color:#cbd5e1;

}





/* =====================
   Defibrillator Section
===================== */



#defib-section{

    background:#020617;

    border-radius:15px;

    padding:25px;

    margin:25px 0;

    border:

    1px solid #facc15;

}



#defib-section h2{

    color:#facc15;

}







#shock-section{

    background:#020617;

    border-radius:15px;

    padding:25px;

    margin:25px 0;

    border:

    1px solid #2563eb;

}



#shock-section h2{

    color:#60a5fa;

}







/* =====================
   Charging Animation
===================== */



.charge-bar{

    width:300px;

    height:20px;

    background:#1e293b;

    margin:20px auto;

    border-radius:10px;

    overflow:hidden;

}



.charge-bar div{

    width:100%;

    height:100%;

    background:#facc15;

    animation:

    charge 2.5s linear;

}





@keyframes charge{


    from{

        width:0;

    }


    to{

        width:100%;

    }


}







/* =====================
   Shock Animation
===================== */



.shock-animation{


    animation:

    shockEffect .4s;


}



@keyframes shockEffect{


    0%{

        transform:scale(1);

        box-shadow:none;

    }



    25%{

        transform:scale(1.08);

        box-shadow:

        0 0 40px #60a5fa;

    }



    50%{

        transform:scale(.95);

    }



    100%{

        transform:scale(1);

    }


}







/* =====================
   Mobile
===================== */



@media(max-width:600px){


    .charge-bar{

        width:90%;

    }


}